* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h2 {
  margin-top: 10px;
}
header a {
  color: black;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: auto;
}
nav ul li a {
  color: black;
}

footer a {
  color: black;
}

p {
  animation-duration: 5s;
  animation-name: efectomaintext;
}

.mains {
  height: 60vw;
  border: 3px solid;
  background-color: grey;
  border-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  justify-self: center;
  overflow: auto;
}
@media (max-width: 1200px) {
  .mains {
    height: 80vh;
    border: 3px solid;
    background-color: grey;
    border-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
}
.mains .main__titulo {
  margin-top: 10px;
  color: black;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 15px;
  background-color: grey;
  border: 3px solid;
  border-color: black;
  padding: 10px;
}
.mains .main__subtitulo {
  width: auto;
  color: black;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 15px;
  background-color: grey;
}
.mains .main__text {
  width: auto;
  height: auto;
  overflow: hidden;
  color: black;
  background-color: grey;
  margin: auto;
}
@media (max-width: 1200px) {
  .mains .main__text {
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 50px;
  }
}

/* Animaciones */
.tarjeta_boton_e:hover {
  background-color: blue;
  scale: 1.1;
}

.nav_e:hover {
  scale: 1.5;
}

.header_e:hover {
  scale: 1.5;
}

@keyframes efectomaintext {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.allfooter {
  width: 100%;
  height: 110px;
  border: 3px solid;
  border-color: black;
  background-color: grey;
  position: relative;
  bottom: 0;
}
@media (max-width: 1200px) {
  .allfooter {
    width: 100%;
    height: 110px;
    border: 3px solid;
    border-color: black;
    background-color: grey;
    position: absolute;
    bottom: 0;
  }
}

.footer_titulo {
  margin: 5px;
  padding: 3px;
  text-decoration: underline;
}

.footer_whatsapp {
  width: auto;
  height: 30px;
  display: flex;
  align-content: flex-end;
  padding: 2px;
}

.footer_instagram {
  width: auto;
  height: 30px;
  background-color: grey;
  display: flex;
  align-content: flex-start;
  padding: 2px;
}

.allheaderstittle {
  width: 100%;
  height: 50px;
  border: 3px solid;
  border-color: black;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  border-image-width: 0px;
}

.navs {
  width: 100%;
  height: 30px;
  border: 3px solid;
  border-color: black;
  background-color: red;
  display: flex;
}

.main__titulo {
  margin-top: 10px;
  color: black;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 15px;
  background-color: grey;
  border: 3px solid;
  border-color: black;
  padding: 10px;
}

.main__subtitulo {
  width: auto;
  color: black;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 15px;
  background-color: grey;
}

.main_centro {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .main_centro {
    display: flex;
    justify-content: space-between;
  }
}

.main_img {
  height: 350px;
  width: auto;
  margin: 3px;
  object-fit: contain;
}
@media (max-width: 1200px) {
  .main_img {
    display: flex;
    height: 300px;
    width: 100px;
    object-fit: contain;
  }
}

.main_img1 {
  height: 500px;
  width: auto;
  margin: 3px;
  object-fit: contain;
}
@media (max-width: 1200px) {
  .main_img1 {
    display: flex;
    height: 300px;
    width: 100px;
    object-fit: contain;
  }
}

/* Productos */
.tarjetas {
  color: black;
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 1200px) {
  .tarjetas {
    color: black;
    height: auto;
    width: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1 1fr);
  }
}

.productoficha {
  border: 3px solid;
  border-color: black;
  margin: 5px;
}
@media (max-width: 1200px) {
  .productoficha {
    display: grid;
    width: 300px;
    height: auto;
    border: 5px solid;
    border-color: black;
    margin: 15px;
  }
}

.tarjeta_texto {
  text-align: center;
  color: black;
  background-color: grey;
}

.tarjeta_boton {
  color: black;
  text-align: center;
  margin: 5px;
}

.img_mobile {
  height: 300px;
  width: 100%;
}

/* Recetas  */
.recetas {
  color: black;
  text-align: center;
  text-decoration: underline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .recetas {
    color: black;
    text-align: center;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.recetas_vid {
  height: 315px;
  width: 560px;
}
@media (max-width: 1200px) {
  .recetas_vid {
    height: 200px;
    width: 350px;
    margin-left: 30px;
  }
}

/*  Sucursales */
.sucursales {
  text-align: center;
  text-decoration: underline;
  color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .sucursales {
    height: auto;
    width: auto;
    display: grid;
    grid-template-rows: repeat(1 1fr);
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .sucursales_mobile {
    display: grid;
    column-gap: 20px;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 1200px) {
  .maps_mobile {
    display: grid;
    width: fit-content;
  }
}

/* contacto */
.formulario {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1200px) {
  .formulario {
    display: grid;
    grid-template-columns: repeat(1 1fr);
    grid-template-rows: repeat(1 1fr);
    justify-content: center;
  }
}

.formulario_name {
  text-align: center;
  width: 200px;
  margin: 5px;
  padding: 5px;
  border: 1px solid;
  border-color: black;
}
@media (max-width: 1200px) {
  .formulario_name {
    display: grid;
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
}

.formulario_email {
  text-align: center;
  width: 200px;
  margin: 5px;
  padding: 5px;
  border: 1px solid;
  border-color: black;
}
@media (max-width: 1200px) {
  .formulario_email {
    display: grid;
    grid-row: 2/3;
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
}

.formulario_select {
  text-align: center;
  width: 200px;
  margin: 5px;
  padding: 5px;
  border: 1px solid;
  border-color: black;
}
@media (max-width: 1200px) {
  .formulario_select {
    display: grid;
    grid-row: 3/4;
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
}

.formulario_consulta {
  text-align: center;
  width: 300px;
  margin: 5px;
  padding: 5px;
  border: 1px solid;
  border-color: black;
}
@media (max-width: 1200px) {
  .formulario_consulta {
    display: grid;
    grid-row: 4/5;
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
}

@media (max-width: 1200px) {
  .boton_mobile {
    display: grid;
    grid-row: 5/6;
    width: 100%;
    justify-items: center;
  }
}

.formulario_img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.img_contacto {
  width: auto;
  height: 355px;
  display: flex;
  margin: 5px;
  margin-left: 20%;
  margin-right: 20%;
}
@media (max-width: 1200px) {
  .img_contacto {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
