.main__titulo {
    margin-top: 10px;
    color: $color_3;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
    background-color: $color_1;
    border: 3px solid;
    border-color: $color_3;
    padding: 10px;
}

.main__subtitulo {
    width: auto;
    color: $color_3;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 15px;
    background-color: $color_1;

}

.main__text {
    width: auto;
    height: 200px;
    overflow: hidden;
    color: $color_3;
    background-color: $color_1;
    margin: 200px;
}