/* Productos */

.tarjetas {
    color: $color_3;
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include mobile-lg {
        color: $color_3;
        height: auto;
        width: auto;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1 1fr);
    }
}

.productoficha {
    border: 3px solid;
    border-color: $color_3;
    margin: 5px;

    @include mobile-lg{
        display: grid;
        width: 300px;
        height: auto;
        border: 5px solid;
        border-color: $color_3;
        margin: 15px;
    }
}

.tarjeta_texto {
    text-align: center;
    color: $color_3;
    background-color: $color_1;
}

.tarjeta_boton {
    color: $color_3;
    text-align: center;
    margin: 5px;
}

.img_mobile {
        height: 300px;
        width: 100%;
}