/* Recetas  */

.recetas {
    color: $color_3;
    text-align: center;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mobile-lg {
        color: $color_3;
        text-align: center;
        text-decoration: underline;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.recetas_vid {
    height: 315px;
    width: 560px;
    margin: 10px;
    
    @include mobile-lg {
        height: 200px;
        width: 350px;
        margin-left: 30px;
    }
}