.allfooter {
    width: 100%;
    height: 110px;
    border: 3px solid;
    border-color: $color_3;
    background-color: $color_1;
    position: relative;
    bottom: 0;

    @include mobile-lg {
        width: 100%;
        height: 110px;
        border: 3px solid;
        border-color: $color_3;
        background-color: $color_1;
        position: absolute;
        bottom: 0;
    }
}

.footer_titulo {
    text-align: center;
    margin-bottom: 1px;
    text-decoration: underline;
}

.footer_whatsapp {
    width: auto;
    height: 30px;
    display: flex;
    align-content: flex-end;
    padding: 2px;
}

.footer_instagram {
    width: auto;
    height: 30px;
    background-color: $color_1;
    display: flex;
    align-content: flex-start;
    padding: 2px;
}