//reset//

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// tags //

header {
    h2{
        margin-top: 10px;
    }
}

a {
    color: $color_3;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: auto;
    a {
        color: $color_3;
    }
}

p {
    animation-duration: 5s;
    animation-name: efectomaintext;
}

.mains {
    height: 60vw;
    border: 3px solid;
    background-color: $color_1;
    border-color: $color_3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    justify-self: center;
    overflow: auto;
}